@charset "utf-8";
/* CSS Document */

/*===== Import Files =====*/
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');
/*  Css */
@import url(../lib/bootstrap/css/bootstrap.min.css);

/*===== Layout Style =====*/
body {
    max-width: 1920px;
    background: transparent;
    font-family: 'Cabin', sans-serif;
    line-height: 1.15;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    overflow-x: hidden;
    margin: 0 auto;
}
a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover,
a:focus {
    text-decoration: none;
    transition: all 0.25s;
}
img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
select:focus, button:focus, input:focus { outline: none; }
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea, select, input[type="number"],
input[type="tel"] {
    padding: 8px 10px;
    width: 100%;
    border: none;
    cursor: pointer;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
ul li,
ol li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
.clearfix {
    clear: both;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.wrapper {
    position: relative;
    background: url(../images/background.png) #41000c no-repeat top center;
    height: 1357px;
}

/* Header */
.kl_header {
    background: rgba(43, 0, 10, 0.85);
}
.kl_header_ct {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}
.kl_logo {
    display: inline-block;
    margin-right: .5rem!important;
}
.kl_menu {}
.kl_menu_content {}
.kl_menu_content .kl_menu_item {
    display: inline-block;
    vertical-align: middle
}
/* .kl_menu_content .kl_menu_item:after {
    content: "";
    width: 1px;
    height: 110px;
    display: block;
    background: rgb(116, 0, 6);
} */
.kl_menu_content .kl_menu_item:last-child {
    border-right: none;
}
.kl_menu_content .kl_menu_item .kl_menu_link {
    padding-right: 40px;
    padding-left: 40px;
    color: rgba(255, 236, 141, 0.15);
    font-size: 32px;
}
.kl_menu_content .kl_menu_item .kl_menu_link:hover,
.kl_menu_content .kl_menu_item .kl_menu_active {
    color: #ffec8d;
}